* {
  padding: 0px;
  margin: 0px; }

:root {
  --highlight-text-color: #40A5A4; }

body {
  background-color: #effafa;
  font-family: "Spartan", sans-serif; }

.container {
  max-width: 1110px;
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 0 40px; }
  .container__search {
    width: 100%;
    opacity: 1;
    height: auto;
    min-height: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px -7px #5da4a4;
    padding: 20px 40px;
    box-sizing: border-box;
    margin-top: -36px;
    display: flex;
    justify-content: space-between;
    transform: opacity 1s; }
  .container .search--hidden {
    opacity: 0; }
  .container__jobs {
    margin-top: 36px;
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap: 25px; }
    .container__jobs-items {
      width: 100%;
      height: auto;
      padding: 34px 40px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 10px 15px -7px #5da4a4;
      border-left: 5px solid #40A5A4; }
      .container__jobs-items-columns {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .container__jobs-items-columns-left {
          display: flex; }
          .container__jobs-items-columns-left-info {
            margin-left: 25px;
            width: auto; }
            .container__jobs-items-columns-left-info-1 {
              display: flex; }
            .container__jobs-items-columns-left-info-company {
              color: #40A5A4;
              font-size: 15px;
              display: block;
              font-weight: 600;
              margin-bottom: 15px; }
            .container__jobs-items-columns-left-info-title {
              color: #2c3a3a;
              font-size: 18px;
              font-weight: 600;
              display: block;
              margin-bottom: 15px; }
            .container__jobs-items-columns-left-info-title:hover {
              color: var(--highlight-text-color);
              transition: 0.3s ease-in-out; }
            .container__jobs-items-columns-left-info-details {
              margin: 0;
              padding: 0; }
              .container__jobs-items-columns-left-info-details__1 {
                display: inline-block;
                color: #7b8e8e;
                font-size: 15px; }
              .container__jobs-items-columns-left-info-details__1::after {
                content: "";
                width: 3px;
                height: 3px;
                border-radius: 3px;
                background-color: #7b8e8e;
                display: inline-block;
                margin: 5px 15px; }
              .container__jobs-items-columns-left-info-details__1:last-child::after {
                display: none; }
    .container__jobs-img {
      width: 90px;
      height: auto; }
    .container__jobs-itemss {
      width: 100%;
      height: auto;
      padding: 34px 40px;
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 10px 15px -7px #5da4a4; }
  .container__tag {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #eef6f6;
    margin: 5px;
    font-weight: 700;
    font-size: 15px;
    color: var(--highlight-text-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; }
  .container-closetag {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #eef6f6;
    margin: 5px;
    font-weight: 700;
    font-size: 15px;
    color: var(--highlight-text-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding-right: 11px; }
  .container-closetag::after {
    content: url(../images/icon-remove.svg);
    background-image: url("../images/icon-remove.svg");
    background-repeat: no-repeat;
    width: 35px;
    background-color: var(--highlight-text-color);
    height: 100%;
    background-size: 15px; }
  .container-closetag:hover::after {
    background-color: #2c3a3a; }
  .container__tag:hover,
  .container .tag--active {
    background-color: var(--highlight-text-color);
    color: #fff; }
  .container__features {
    font-size: 12px;
    padding: 4px;
    border: 1px solid var(--highlight-text-color);
    margin-bottom: 15px;
    margin-left: 1%;
    background-color: var(--highlight-text-color);
    border-radius: 10px;
    color: #fff; }
  .container__featuress {
    font-size: 12px;
    padding: 4px;
    border: 1px solid #2c3a3a;
    margin-bottom: 15px;
    margin-left: 1%;
    background-color: #2c3a3a;
    border-radius: 10px;
    color: #fff; }

@media only screen and (min-width: 320px) and (max-width: 365px) {
  .container {
    max-width: 390px; }
    .container__jobs-items {
      display: flex;
      flex-direction: column;
      width: 123%; }
      .container__jobs-items-columns {
        display: flex;
        flex-direction: column; }
        .container__jobs-items-columns-left {
          margin-bottom: 5%; }
    .container__jobs-img {
      position: inherit; }
    .container__search {
      width: 174%;
      opacity: 1;
      height: auto;
      min-height: 70px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 10px 15px -7px #5da4a4;
      padding: 20px 40px;
      box-sizing: border-box;
      margin-top: -36px;
      display: flex;
      justify-content: space-between;
      transform: opacity 1s; }
    .container__tag {
      display: inline-block;
      width: auto;
      height: auto;
      padding: 10px 21px;
      border-radius: 5px;
      background-color: #eef6f6;
      margin: 5px;
      font-weight: 700;
      font-size: 15px;
      color: var(--highlight-text-color);
      cursor: pointer;
      transition: background-color 0.3s ease-in-out; }
    .container__features {
      font-size: 12px;
      padding: 4px;
      border: 1px solid var(--highlight-text-color);
      margin-bottom: 15px;
      margin-left: 7%;
      background-color: var(--highlight-text-color);
      border-radius: 10px;
      color: #fff; } }

@media only screen and (min-width: 370px) and (max-width: 380px) {
  .container__jobs-items {
    display: flex;
    flex-direction: column;
    width: 123%; }
    .container__jobs-items-columns {
      display: flex;
      flex-direction: column; }
      .container__jobs-items-columns-left {
        margin-bottom: 5%; }
  .container__jobs-img {
    position: inherit; }
  .container__search {
    width: 165%;
    opacity: 1;
    height: auto;
    min-height: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px -7px #5da4a4;
    padding: 20px 40px;
    box-sizing: border-box;
    margin-top: -36px;
    display: flex;
    justify-content: space-between;
    transform: opacity 1s; }
  .container__tag {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 21px;
    border-radius: 5px;
    background-color: #eef6f6;
    margin: 5px;
    font-weight: 700;
    font-size: 15px;
    color: var(--highlight-text-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; }
  .container__features {
    font-size: 12px;
    padding: 4px;
    border: 1px solid var(--highlight-text-color);
    margin-bottom: 15px;
    margin-left: 7%;
    background-color: var(--highlight-text-color);
    border-radius: 10px;
    color: #fff; } }

@media only screen and (max-width: 415px) and (min-width: 381px) {
  .container__jobs-items {
    display: flex;
    flex-direction: column;
    width: 123%; }
    .container__jobs-items-columns {
      display: flex;
      flex-direction: column; }
      .container__jobs-items-columns-left {
        margin-bottom: 5%; }
  .container__jobs-img {
    position: inherit; }
  .container__search {
    width: 145%;
    opacity: 1;
    height: auto;
    min-height: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 15px -7px #5da4a4;
    padding: 20px 40px;
    box-sizing: border-box;
    margin-top: -36px;
    display: flex;
    justify-content: space-between;
    transform: opacity 1s; }
  .container__tag {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 21px;
    border-radius: 5px;
    background-color: #eef6f6;
    margin: 5px;
    font-weight: 700;
    font-size: 15px;
    color: var(--highlight-text-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; }
  .container__features {
    font-size: 12px;
    padding: 4px;
    border: 1px solid var(--highlight-text-color);
    margin-bottom: 15px;
    margin-left: 7%;
    background-color: var(--highlight-text-color);
    border-radius: 10px;
    color: #fff; } }

header {
  width: 100%;
  height: 155px;
  background-image: url("../images/bg-header-desktop.svg");
  background-size: cover;
  background-position: center;
  background-color: #5da4a4; }

@media only screen and (min-width: 320px) and (max-width: 365px) {
  header {
    background-image: url("../images/bg-header-mobile.svg");
    width: 163%; } }

@media only screen and (min-width: 370px) and (max-width: 380px) {
  header {
    background-image: url("../images/bg-header-mobile.svg");
    width: 155%; } }

@media only screen and (min-width: 381px) and (max-width: 415px) {
  header {
    background-image: url("../images/bg-header-mobile.svg");
    width: 143%; } }

.btn1 {
  margin-left: 50px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #40A5A4;
  font-weight: 700;
  outline: none;
  cursor: pointer; }

.btn1:hover {
  text-decoration: underline; }
