header {
    width: 100%;
    height: 155px;
    background-image: url("../images/bg-header-desktop.svg");
    background-size: cover;
    background-position: center;
    background-color: #5da4a4;
    color: white;
    font-size: 18px;
}



@media only screen and (min-width: 320px)  and (max-width: 365px) {
    header {
        background-image: url("../images/bg-header-mobile.svg");
        width: 163%;
    }
}


@media only screen and (min-width: 370px) and (max-width: 380px) {
    header {
        background-image: url("../images/bg-header-mobile.svg");
        width: 155%;
    }
}

@media only screen  and (min-width: 381px) and (max-width: 415px) {
    header {
        background-image: url("../images/bg-header-mobile.svg");
        width: 143%;
    }
}
