$font-family: 'Spartan', sans-serif;
$background-image:url(../images/bg-intro-desktop.png);
$background-color:hsl(180, 52%, 96%);
$text-color:black;
$font-size-large: 55px;
$font-size-medium: 18px;
$font-size-small: 15px;

